.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem
}

.post+.post {
  /*o mais fala que eu quero estilizar todo o post caso tenha um outro post em cima dele*/
  margin-top: 2rem;
  /*só vai aplicar essa margem em posts que tenham um post em cima dele*/
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--grenn-300)
}

.post>header {
  /*o sinal de maior indica ao css que ele deve estiliar o primeiro header que ele encontrar dentro do post*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post>header time {
  font-size: 0.875rem;
  color: var(--gray-400)
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem
}

.authorInfo strong {
  /*o strong e o span, por padrão, são inlines. Eu posso pegar um por um e colocar block*/
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {

  display: block;
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  /*vai ocupar toda a largura*/
  margin-top: 1.5rem;
  /*distanciamento entre o form e a parte de cima*/
  padding-top: 1.5rem;
  /*distancimaneto dentro do form*/
  border-top: 1px solid var(--gray-600);
}

.commentForm>strong {
  /*vai pegar o primeiro strong do form*/
  line-height: 1.6;
  /*deixou um pequeno espaço entre o 'Deixe seu feedback' e a textarea*/
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  /*o usuário não pode redimensionar a textarea*/
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm button[type=submit]{
padding: 1rem 1.5rem;
margin-top: 1rem;
border-radius: 8px;
border: 0;
background: var(--green-500);
color: var(--white);
font-weight: bold;
cursor: pointer;
transition: background-color 0.1s; /*transition no hover*/
}

.commentForm button[type=submit]:not(:disabled):hover{ /*estou dizendo que quero que o hover funcione caso o botão não esteja desabilitado*/
background: var(--grenn-300);
}

.commentForm footer{
  visibility: hidden;
  max-height: 0;
}/*Tive que colocar o botão dentro do footer e aplicar nele as estilizações porque, mesmo eu tornando o botão invisível, se inpecionar, ele mostra o botão ali, ocupando uma área que eu não quero que ele ocupe*/

.commentForm:focus-within footer{/*se houver um focus em qualquer elemento dentro do commentForm, eu quero aplicar alguma estilização no footer*/
visibility: visible; /*como a textarea é um elemento que possui um focus, quando eu clicar nela vai aplicar essa estilização no botão, pois está dentro do footer*/
max-height: none;
}

.commentForm button:disabled{ /*quando meu botão for disabled, quero que ele tenha essa opacidade*/
opacity: 0.7;
cursor: not-allowed
}

.commentList{
  margin-top: 2rem;
}